section.wd{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
  background-color: #f321ad;
  padding: 5px;
}
@media screen and (max-width: 600px){
  section.wd{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
  }
}

div.wr{
  background-color: rgba(112, 4, 116, 0.8);
  
  padding: 20px 0;
  
}



section.wq{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  
  grid-gap: 5px;
  background-color: #21f372;
  padding: 1px;
}
@media screen and (max-width: 600px){
  section.wq{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
  }
}


div.wt{
  background-color: rgba(112, 4, 116, 0.8);
  padding: 20px 0;
  
}
section.wy{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-gap: 5px;
  background-color: #f321ad;
  padding: 1px;
}
@media screen and (max-width: 600px){
  section.wy{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
  }
}


div.wu{
  background-color: rgba(112, 4, 116, 0.8);
  
  padding: 20px 0;
  
}


body {
  background-color: blue;
  color: white;
  max-width: 80em;

  }
  
  @media only screen and (min-width: 37.5em) {  /* skjáir (screen) sem eru stærri en 37.5em (600px) */
    body {
      background-color: lightblue;
      
      
    }
    
  }
  
  @media only screen and (min-width: 48em) {  /* skjáir (screen) sem eru stærri en 48em (768px) */
    body {
      background-color: green;
    }
  }
  
  @media only screen and (min-width: 60em) {  /* skjáir (screen) sem eru stærri en 60em (960px) */
    body {
      background-color: red;
    max-width: 60em;
    margin: 0 auto;
    border: 2px solid yellow;
    }
  }