.duff {
    width: 100px;
    height: 100px;
    
    position: relative;
    animation-name: ex;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 10s;
    
  }
  
  @keyframes ex {
      
    0%   {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
  }

  .kuff:hover{
    
    
    position: relative;
    animation-name: dame;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    
  }
  @keyframes dame {
    0%   { transform: rotate(12deg);}
    25%  { transform: rotate(120deg);}
    50%  { transform: rotate(180deg);}
    75%  { transform: rotate(216deg);}
    100% { transform: rotate(12deg);}
  }



  body{
   
   cursor: url(../V-5/images/icomoon/SVG/airplane.svg),auto;
   
  }






  
 
    
  
  .centered{

    background: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: ann 10s linear ;
    
  }
  @keyframes ann {
      0%{ display:  none ; background-color: #49e600;}
      100%{ display:  none ;}
  }



  .hringur{

    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: hring 3s linear infinite;
  }

@keyframes hring {
    
     0%{
         transform: rotate(0deg);
         box-shadow: 1px 5px 2px #e60000;
     }
   
     25%{
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #49e600;
    }


    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #0133b2;
    }

    75%{
        transform: rotate(280deg);
        box-shadow: 1px 5px 2px #e600e6;
    }

    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e60060;
    }
  }
  .hringur:before{

    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  .stead{
      color: #737373;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 200px;
      animation: texti 3s ease-in-out infinite;
  }
@keyframes texti{

  50%{color: black;}
}







.centered{

    display: 10 none ;
  }
  .hringur{
    
    display: none 10s;
  }
  .stead{
    
    display: none 10s;
}
