.duff {
    width: 100px;
    height: 100px;
    
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    
  }
  
  @keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
  }

  .kuff:hover{
    
    
    position: relative;
    animation-name: dame;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    
  }
 



  @keyframes dame {
    0%   { transform: rotate(12deg);}
    25%  { transform: rotate(120deg);}
    50%  { transform: rotate(180deg);}
    75%  { transform: rotate(216deg);}
    100% { transform: rotate(12deg);}
  }







  .snedd{
    rotate: 12deg;
    transform: rotate(10deg);
    
  }
  
  .snedd:hover {
    rotate: 12deg;
    transform: rotate(10deg);
    
  }
  body{
   
   cursor: url(../V-5/images/icomoon/SVG/airplane.svg),auto;
   
  }
