

  .kuff{
    
    
    position: relative;
    animation-name: dame;
    animation-duration: 4s;
    animation-iteration-count:  infinite;
    
    
  }
  @keyframes dame {
    0%   { transform: rotate(1deg);}
    25%  { transform: rotate(3deg);}
    50%  { transform: rotate(1deg);}
    75%  { transform: rotate(3deg);}
    100% { transform: rotate(1deg);}
  }



  body{
   
   cursor: url(../V-lokaverk/icomoonn/SVG/heart-broken.svg),auto; 
   
  }






  
 
    
  
  .centered{

    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    display: flex;

    height: 0vh;
    animation: ann 5s 1 ;
    
  }


  
  @keyframes ann  {
    to {  
    }


    0%   { height: 100vh;
      
    color: white;
    

    
    
    }
    25%  { height: 100vh;}
    50%  { height: 100vh;}
    75%  { height: 100vh;}
    100% {     visibility: hidden;
        width: 0;
        height: 0;
        min-height: 0;
        display: none;
        
  }


  }


















  .hringur{

    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    animation: hring 2.5s linear 2;
    
  }

@keyframes hring {
    
     0%{
        width: 200px;
        height: 200px;




         transform: rotate(0deg);
         box-shadow: 1px 5px 2px #e60000;
     }
   
     25%{
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #49e600;
    }


    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #0133b2;
    }

    75%{
        transform: rotate(280deg);
        box-shadow: 1px 5px 2px #e600e6;
    }

    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e60060;
    }
  }
  .hringur:before{

    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  .stead{
      
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 200px;
      animation: texti 3s linear 5 ease-in-out ;
  }
@keyframes texti{
  0%{color: #737373}
  50%{color: black;}
  100%{color: #737373}
}












.cent{

 
  animation: dan 5s 1 ;
  
}



@keyframes dan  {
  to {  
  }


  0%   { visibility: hidden;
    width: 0;
    height: 0;
    min-height: 0;
    display: none;
     
  

  
  
  }
  25%  { visibility: hidden;
    width: 0;
    height: 0;
    min-height: 0;
    display: none;}
  50%  { visibility: hidden;
    width: 0;
    height: 0;
    min-height: 0;
    display: none;}
  75%  { visibility: hidden;
    width: 0;
    height: 0;
    min-height: 0;
    display: none;}
  100% {     visibility: hidden;
      width: 0;
      height: 0;
      min-height: 0;
      display: none;
      
}


}

