table {
  border-collapse: collapse;
}
td {
  border: 1px solid;
  padding: .3em;
}

.non{
    display: none;
}
.mid{
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}
.imori{
    
    border-image-width: auto;
    rotate: 12deg;
    transform: rotate(10deg);
    max-width: 300px;
    max-height: 600px;
    width: fit-content;
    
    

}

.footer{
    line-height: 1.8;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    /*background-color: #1d52c5;*/
    color: rgb(255,255,255);
    background-image: linear-gradient(to right,#6e0f0f,#2e656e);
    margin: 0;
    display: grid;
}
.white{
    color: rgb(255, 255, 255);
}
.footnav{
    list-style-type: none;
    color: rgb(255, 255, 255);
   
}
.footnav a{
    color: rgb(248, 221, 170);
    text-decoration: none;
}
.footnav a:visited{
    color: #000;
}
.footnav a:hover, .footnav a:active {
    text-decoration: underline;
}
.taki{
    display: block;
    color: rgb(138, 165, 42);
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0 .4em;
    text-decoration: none;
    font-size: 1.5em;
    position: fixed;
    top: 4em;
    right: .4em;
}
.back{
    background-image: url("images/values-bg.jpg");
    background-color: #cccccc;
}
.ball {
    border: 2px solid ;
    
    font-size: 50px;

    border-radius: 50%;
    border: 1px solid #fff;
    width: 1.6em;
    height: 1.6em;
    margin: 0 auto;
    padding: .4em;

}
.font{
    /* Fyrirsagnarletur má vera stærra */
    
    font-weight: 300;
    text-align: center;
    font-family: 'Shizuru', cursive;
}
.font2{
    /* Fyrirsagnarletur má vera stærra */
    
    font-family: 'Lobster', cursive;
}
.font3{
    /* Fyrirsagnarletur má vera stærra */
    
    font-family: 'Fredericka the Great', cursive;
}
.font4{
    /* Fyrirsagnarletur má vera stærra */
    
    font-family: 'Fredericka the Great', cursive;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }
/*############################################################################*/
.whiter{
   background-color: #ffffff;
}
.bluu{
   background-color: #ca0000;
}
button{
  background-color: #f8f8f8;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-steam:before {
  content: "\eaac";
}




/*############################################################################*/
.unn ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.unn a {
  background-position: 0 50%;
  background-repeat: no-repeat;
  color: #0087cc;
  padding-left: 22px;
  text-decoration: none;
}
 .unn a:hover {
  color: #ff7b29;
}
 a[href$=".pdf"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png");
}
 a[href$=".docx" ] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png");
}
 a[href$=".jpg"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png");
}
 a[href$=".mp3"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png");
}
 a[href$=".mp4"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png");
}









/*############################################################################*/
  table tr {
    
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
/*############################################################################################*




/*######################################################### stjornun */

.safe ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c0000;
}

.safe li {
  float: left;
}

.safe   a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.safe li
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.safe  a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



img {
  max-width: 100%;
  height: auto;
}
 /*############################################################################3*/
@media screen and (min-width:3px){
    .taki{
        
        padding: 0 .4em;
        font-size: 2em;
        top: auto;
        bottom: 1em;
        right: 1em;
        
    }
    .df{display: none;}
}
@media screen and (min-width:37.5em){
    .taki{
        
        padding: 0 .4em;
        font-size: 2em;
        top: auto;
        bottom: 1em;
        right: 1em;
    }
}
@media screen and (min-width:48em){
    .taki{
        
        padding: 0 .4em;
        font-size: 2em;
        top: auto;
        bottom: 1em;
        right: 1em;
    }
    .ef{display: none;}
}
@media screen and (min-width:49em){
  
  .df{display: contents;}
  
}

@media screen and (max-width: 600px) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: center;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      
    }
  }